{% extends 'basic.html' %}
{% load static %}

{% block body %}
    <!-- Main Wraapper -->
    <div class="main-wrapper">
        <!-- Page Title Start -->
        <section class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="page-title-text">
                            <h1>Our Work</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Work Start -->
        <section class="sal-work-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="work-filter-menu">
                            <button class="filter" data-filter="all">All Works</button>
                            <button class="filter" data-filter=".femael">Females</button>
                            <button class="filter" data-filter=".male">Males</button>
                        </div>
                    </div>
                </div>
                <div class="work-filter">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix femael">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/1.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/1.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix male femael">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/2.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/2.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix male">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/3.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/3.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix male">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/4.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/4.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix femael male">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/5.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/5.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix male">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/6.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/6.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix male">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/7.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/7.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix male">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/8.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/8.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix male">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/9.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/9.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix male">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/2.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/2.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix femael">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/5.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/5.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix femael">
                            <div class="work-porfolio-section">
                                <img src="{% static 'images/index5/work/4.jpg' %}" alt="">
                                <div class="work-overlay">
                                    <ul>
                                        <li><a class="popup-gallery" href="images/index5/work/4.jpg" title=""><span class="fa fa-search" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock body %}
