{% extends 'basic.html' %}
{% load static %}
{% block body %}
    <!-- Main Wraapper -->
    <div class="main-wrapper">
        <!-- Page Title Start -->
        <section class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="page-title-text">
                            <h1>Our expert</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team Section Start -->
        <section class="sal-team-wrapper">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="sal-team-section">
                            <div class="sal-team-img">
                                <img src="{% static 'images/index5/teamMember2.jpg' %}" alt="Locksmith">
                                <div class="sal-team-hover">
                                    <div class="sal-team-inner">
                                        <div class="sal-team-info">
                                            <h4>Contact</h4>
                                            <a href="javacript:void(0);">+(81) 1800-123-123</a>
                                        </div>
                                        <a class="sal-btn" href="javascript:void(0);">Appointment</a>
                                        <div class="sal-team-social">
                                            <ul>
                                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.instaram.com/pranav_020202"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="https://www.snapchat.com"><i class="fa fa-snapchat"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sal-team-identity text-center">
                                <a href="javascript:void(0);">
                                    <h4>Alison Diana</h4>
                                </a>
                                <p>Tattoo Artist</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="sal-team-section">
                            <div class="sal-team-img">
                                <img src="{% static 'images/index5/teamMember4.jpg' %}" alt="Locksmith">
                                <div class="sal-team-hover">
                                    <div class="sal-team-inner">
                                        <div class="sal-team-info">
                                            <h4>Contact</h4>
                                            <a href="javacript:void(0);">+(81) 1800-123-123</a>
                                        </div>
                                        <a class="sal-btn" href="javascript:void(0);">Appointment</a>
                                        <div class="sal-team-social">
                                            <ul>
                                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.instaram.com/pranav_020202"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="https://www.snapchat.com"><i class="fa fa-snapchat"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sal-team-identity text-center">
                                <a href="javascript:void(0);">
                                    <h4>Dorothy Mary</h4>
                                </a>
                                <p>Piercing Artist</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="sal-team-section">
                            <div class="sal-team-img">
                                <img src="{% static 'images/index5/teamMember2.jpg' %}" alt="Locksmith">
                                <div class="sal-team-hover">
                                    <div class="sal-team-inner">
                                        <div class="sal-team-info">
                                            <h4>Contact</h4>
                                            <a href="javacript:void(0);">+(81) 1800-123-123</a>
                                        </div>
                                        <a class="sal-btn" href="javascript:void(0);">Appointment</a>
                                        <div class="sal-team-social">
                                            <ul>
                                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.instaram.com/pranav_020202"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="https://www.snapchat.com"><i class="fa fa-snapchat"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sal-team-identity text-center">
                                <a href="javascript:void(0);">
                                    <h4>Alison Diana</h4>
                                </a>
                                <p>Tattoo Artist</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="sal-team-section">
                            <div class="sal-team-img">
                                <img src="{% static 'images/index5/teamMember3.jpg' %}" alt="Locksmith">
                                <div class="sal-team-hover">
                                    <div class="sal-team-inner">
                                        <div class="sal-team-info">
                                            <h4>Contact</h4>
                                            <a href="javacript:void(0);">+(81) 1800-123-123</a>
                                        </div>
                                        <a class="sal-btn" href="javascript:void(0);">Appointment</a>
                                        <div class="sal-team-social">
                                            <ul>
                                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.instaram.com/pranav_020202"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="https://www.snapchat.com"><i class="fa fa-snapchat"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sal-team-identity text-center">
                                <a href="javascript:void(0);">
                                    <h4>Dorothy Mary</h4>
                                </a>
                                <p>Hair Artist</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="sal-team-section">
                            <div class="sal-team-img">
                                <img src="{% static 'images/index5/teamMember2.jpg' %}" alt="Locksmith">
                                <div class="sal-team-hover">
                                    <div class="sal-team-inner">
                                        <div class="sal-team-info">
                                            <h4>Contact</h4>
                                            <a href="javacript:void(0);">+(81) 1800-123-123</a>
                                        </div>
                                        <a class="sal-btn" href="javascript:void(0);">Appointment</a>
                                        <div class="sal-team-social">
                                            <ul>
                                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.instaram.com/pranav_020202"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="https://www.snapchat.com"><i class="fa fa-snapchat"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sal-team-identity text-center">
                                <a href="javascript:void(0);">
                                    <h4>Alison Diana</h4>
                                </a>
                                <p>Tattoo Artist</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="sal-team-section">
                            <div class="sal-team-img">
                                <img src="{% static 'images/index5/teamMember3.jpg' %}" alt="Locksmith">
                                <div class="sal-team-hover">
                                    <div class="sal-team-inner">
                                        <div class="sal-team-info">
                                            <h4>Contact</h4>
                                            <a href="javacript:void(0);">+(81) 1800-123-123</a>
                                        </div>
                                        <a class="sal-btn" href="javascript:void(0);">Appointment</a>
                                        <div class="sal-team-social">
                                            <ul>
                                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.instaram.com/pranav_020202"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="https://www.snapchat.com"><i class="fa fa-snapchat"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sal-team-identity text-center">
                                <a href="javascript:void(0);">
                                    <h4>Dorothy Mary</h4>
                                </a>
                                <p>Hair Artist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock body %}
